name: Docker image CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '32.0/**'
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  build-docker-images:
    runs-on: [ubuntu-24.04]

    strategy:
      fail-fast: false
      matrix:
        version: [32.0-nextcloud-trixie, 32.0-nextcloud-database-bookworm]
        include:
          - version: 32.0-nextcloud-trixie
            docker-context: 32.0/debian/nextcloud/default
            docker-tags: |
              nicoherbigde/nextcloud:32.0
              nicoherbigde/nextcloud:32.0-trixie
              nicoherbigde/nextcloud:32.0.6
              nicoherbigde/nextcloud:32.0.6-trixie
          - version: 32.0-nextcloud-database-bookworm
            docker-context: 32.0/debian/nextcloud-database/default
            docker-tags: |
              nicoherbigde/nextcloud-database:32.0
              nicoherbigde/nextcloud-database:32.0-bookworm
              nicoherbigde/nextcloud-database:32.0.6
              nicoherbigde/nextcloud-database:32.0.6-bookworm

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and Push it to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-context }}
          no-cache: true
          pull: true
          push: true
          tags: ${{ matrix.docker-tags }}
